
    <div class="row row-cols-3 g-2">
    
        @foreach (var juice in CurrentRecipies)
        {
                <div class="col">
                <div class="card m-3 shadow-sm">
                    <div class="card-header">
                        @juice.Name
                    </div>
                    <div class="card-body">
                        <p>Price per glass: @juice.PricePerGlass</p>
                        <hr>
                        <p>Fruits needed per glass: @juice.ConsumptionPerGlass</p>
                    </div>
                </div>
            </div>
        }
   
    </div>





